
.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0;
}

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;

}

/* Productos*/
.seccion-titulo{
    font-size: 2rem;
    margin: 40px 40px 60px 40px;
    font-family: "Quicksand", sans-serif;
}

.seccion-descripcion{
    font-size: 15px;
}
.texto-negro{
    font-weight: bold;
    background-color: #5fcce7e1;
    padding: 15px;
}

/* Productos */
.product-card {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}
.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0;
}


/* Responsivo (adaptable) */
@media screen and (max-width: 767px) {
    .seccion-titulo{
        font-size: 1.25rem;
    }

    .navbar-brand{
       display: none;
    }
    
}